@import "reset.css";
@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.woff2?t=1619964451471') format('woff2'),
    url('../font/iconfont.woff?t=1619964451471') format('woff'),
    url('../font/iconfont.ttf?t=1619964451471') format('truetype');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*导航栏样式*/
/*上导航栏样式*/
#navTop {
    background: #9c9c9c;
    height: 100px;
    overflow: hidden;
}
#navTop .logo {
    margin-left: 4%;
    line-height: 100px;
}
#navTop .leftNav {
    margin-right: 4%;
    width: 250px;
}
#navTop .leftNav span {
    padding-right: 10px;
}
#navTop li {
    float: left;
    margin-left: 4%;
    line-height: 100px;
}
/*下导航栏样式*/
.example {
    line-height: 15px;
    height: 15px;
    background-color: #333333;
    margin:0px auto;
    padding:16px;
}
#navBottom {
    position: relative;
    height: 15px;
    left: -10;
    top: 0;
    overflow: hidden;
}
#navBottom li{
    float: left;
    margin-left: 20px;
    position: relative;
    z-index: 10;
}
#navBottom li:first-child {
    margin-left: 300px;
}
#navBottom li a{
    color: #fff;
    display: block;
    padding: 0 10px;
    z-index: 20;
}
#navBottom li ul {
    width: 1000px;
    height: 40px;
    padding: 20px 0;
    position: absolute;
    top: -120px;
    left: -300px;
    z-index: 1;
    background-color: #e6e6e6;
    /* 滑动样式 */
    border-radius:8px; /*some css3*/
	transition:0.8s ease-in-out;
	box-shadow:2px 2px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:2px 2px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:2px 2px 3px rgba(0, 0, 0, 0.5);
	-moz-transition:0.8s ease-in-out;
	-o-transition:0.8s ease-in-out;
	-webkit-transition:all 0.8s ease-in-out;
}
#navBottom li ul .firstLi {
    margin-left: 120px;
}
#navBottom ul li {
    margin-top: 6px;
    padding-top: 10px;
    float: left;
}
#navBottom ul li a{
    color: #000;
}
#navBottom:hover {
	height:1000px;
}
#navBottom li:hover ul {
	-moz-transform:translate(0,151px);
	-o-transform:translate(0,151px);
	-webkit-transform:translate(0,151px);
}
#navBottom li ul li:hover > a {
	color:#b93434;
}