body {
    background-color: #0086b3;
}
#inputInfo {
    width: 300px;
    margin: 100px auto;
    border: 1px solid black;
    text-align: center;
    color: black;
    border-radius: 20px;
    background-color: lightblue;
}
#inputInfo lable,#inputInfo h1 {
    color: black;
}
#inputInfo h1 {
    margin-top: 10px;
}
#inputInfo input {
    border-radius: 10px;
    margin-top: 20px;
    height: 20px;
    color: black;
    outline: none;
}
#inputInfo p {
    margin-top: 10px;
}
#inputInfo .submitBnt {
    width: 150px;
    height: 25px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: lightblue;
}


